{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- Include any specific CSS for your dropdown menus here -->
{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <!-- First Dropdown Menu -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown Menu 1
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" href="#">Option 1</a>
                                <a class="dropdown-item" href="#">Option 2</a>
                                <!-- Add more options as needed -->
                            </div>
                        </div>
                        
                        <!-- Second Dropdown Menu -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown Menu 2
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <a class="dropdown-item" href="#">Option A</a>
                                <a class="dropdown-item" href="#">Option B</a>
                                <!-- Add more options as needed -->
                            </div>
                        </div>

                        
                    </div>
                    <div class="card-body">
                        <!-- Card content goes here -->
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}
    </div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Include Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function() {
      $('.dropdown-toggle').dropdown(); // Initialize all dropdowns
  });
</script>

    <!-- Include any specific JavaScript for your dropdown menus here -->
{% endblock javascripts %}

